
__pycache__/
!.env.example
!.env.sample
!requirements.txt
.build/
.cache
.coverage
.coverage.*
.DS_Store
.eggs/
.env
.env.*
.env.local
.hypothesis/
.idea/
.installed.cfg
.nox/
.pytest_cache/
.Python
.swiftpm/
.tox/
.venv
.venv/
.vscode/
*.app
*.cover
*.csv
*.db
*.db-shm
*.db-wal
*.egg
*.egg-info/
*.ipa
*.key
*.manifest
*.pem
*.py,cover
*.py[cod]
*.pyc
*.secret
*.so
*.spec
*.sqlite
*.sqlite3
*.swo
*.swp
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*~
*$py.class
# Build
# Databases
# Dependencies
# IDE
# OS
# Secrets
build/
cover/
coverage.xml
credentials*
data/
DerivedData/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
htmlcov/
lib/
lib64/
models/*.joblib
models/*.pkl
node_modules/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
reports/
sdist/
Thumbs.db
var/
venv/
wheels/
